



.feature-static-image.mobile.mobileStandard {
	display: none;
}
.feature-static-image.mobile.altImage {
	display: block;
}





.aside-media-single {
	float: none;
	width: 100%;
	margin-left: 0;
}


@media screen and (max-width: 350px) {
	.thumbnail-link {
		float: none;
		width: 100%;
		height: auto;
		margin-right: 0; 
		margin-bottom: 0;
	}
}


.home-feature {
	height: 500px;
/* 	max-height: 500px; */
}


.featureSlide {
height: 500px;
}
.home-feature-nav {
height: 500px;
}

.home-feature.slider-feature a.nav-arrow {
	height: 500px;
	line-height: 500px;
}

/*

@media screen and (max-width: 960px) {
	.home-feature {
		height: 210px;
		max-height: 210px;
	}
	.featureSlide {
		height: 210px;
	}
	.home-feature-nav {
		height: 210px;
	}
	
	.home-feature.slider-feature a.nav-arrow {
		height: 210px;
		line-height: 210px;
	}
}
@media screen and (max-width: 495px) {
	.home-feature {
		height: 410px;
		max-height: 410px;
	}
	.featureSlide {
		height: 410px;
	}
	.home-feature-nav {
		height: 410px;
	}
	
	.home-feature.slider-feature a.nav-arrow {
		height: 410px;
		line-height: 410px;
	}
}

*/