/*Structure
------------------------*/
.header-top {
	height: 70px;
}
.logo {
	float: none;
}
.main-phone {
	display: block;
	float: none;
	padding-top: 5px;
	padding-left: 0;
}
.sign-in-area {
	padding-top: 18px;
}
.content {
	padding-top: 130px;
}
.quitcash-template .content {
	padding-top: 73px;
}
.quitcash-inner-content {
	padding-top: 20px;
}
.entry-page .content {
	padding-top: 52px;
}
.languages {
	display: none;
}
.languages-mobile {
	display: block;
	padding-left: 25px;
	color: #E4E4E5;
}
.languages-mobile a {
	font-size: 12px;
	display: inline-block;
	color: #FFF;
}
.loginBtn {
	float: none;
}
footer .main-navigation-style {
	display: none;
}
.quitcash-template #wrapper {
	padding: 0;
}

/* =============================================================================================================
========================================================== | general | ======================================
============================================================================================================== */
.left-col {
	display: none;
}
#aside {
	display: none;
}
.main-content-area {
	padding: 0 20px 0 20px;
}
.quitcash-template .main-content-area {
	padding: 0;
}
.quitcash-content {
	width: 100%;
	padding: 0 20px 0 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.breadcrumbs {
	position: absolute;
	top: 75px;
	width: 100% !important;
	max-width: 100%;
	margin-top: 0;
	padding: 10px 40px 10px 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.has-nav .breadcrumbs {
	left: 0;
	margin-left: 0;
}
.has-social h1.pageHeader {
	padding-right: 0;
	padding-left: 0;
}
.socialgraph {
	position: relative;
	top: 0;
	right: 0;
	z-index: 700;
	padding: 0 0 10px 20px;
}
.socialgraph.has-mast,
.socialgraph.has-slideshow {
	top: 0;
	right: 0;
}
.callout a {
	min-height: 5.5em;
}


/* menu
----------------------------*/
#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #7DBB70;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main-navigation-style .menu-main {
	display: block;
	width: 100%;
}
.main-navigation-style .menu-main > li {
	display: block;
	float: none;
}
.header-top {
	position: fixed;
	z-index: 905;
	width: 100%;
	padding: 5px 10px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,.9)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,.9) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,.9) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,.9) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,.9) 100%);
	box-shadow: 0 3px 6px 1px #3C3C3C;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6efefef',GradientType=0 );
}
.logo {
	width: 107px;
	height: 40px;
	margin-top: 0;
}
.logo a {
	display: block;
	width: 107px;
	height: 40px;
	background: url(../images/design/logo-40.png) 0 0 no-repeat;
}
.main-phone {
	margin: 0;
}
#grabber {
	display: inline-block;
}
.no-js #main-menu:target + .content-body {
	left: -80%;
}
.no-js #wrapper:target #close-menu {
	display: none;
}
.no-js #close-menu {
	display: inline-block;
}
#menu-search {
	display: none;
}
.search-area {
	position: fixed;
	top: 0;
	left: 20%;
	display: block !important;
	float: none;
	width: 277px;
	width: 75%;
	margin-top: 20px;
	margin-left: 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.search-form input[type='text'],
.spanish-page .search-form input[type='text'] {
	top: -1px;
	width: 47%;
	padding: 6px 9px;
}
.search-form #submit {
	position: relative;
	top: 2px;
	display: inline-block;
	float: none;
	margin: 0 0 0 5px;
	padding: 3px 12px;
	color: #7DBB70;
	background-color: #FFF;
}
.search-area .search-form input.button {
	position: relative;
	top: 3px;
	left: 5px;
	display: none;
	color: #7DBB70;
	background-color: #FFF;
}
.content-body {
	position: relative;
	width: 100%;
	background-color: #FFF;
	-webkit-box-shadow: 1px 0 5px 1px #3C3C3C;
	-moz-box-shadow: 1px 0 5px 1px #3C3C3C;
	box-shadow: 1px 0 5px 1px #3C3C3C;
	/*   z-index: 800; */
}
#main-menu {
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	overflow: scroll;
	width: 100%;
	height: 100%;
	margin-top: 0;
	margin-top: 80px;
	padding-left: 20%;
	border-top: 0;
	border-bottom: 0;
	background-color: #7DBB70;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main-navigation-style ul {
	width: 100%;
	padding: 0;
	list-style: none;
	border-top: 0;
	border-bottom: 0;
}
.secondary-nav > li.last-child {
	padding-bottom: 150px;
}
.main-navigation-style ul li {
	display: block;
	float: none;
	padding: 0;
	text-align: left;
}
.main-navigation-style ul li a {
	font-size: 14px;
	line-height: 18px;
	display: block;
	height: auto;
	padding: 8px 29px;
	color: #444;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
}
.main-navigation-style ul li a:hover {
	color: #444;
}
.main-navigation-style ul li.active a {
	background-color: transparent;
}
.main-navigation-style > ul > li.active>a,
.main-navigation-style > ul > li.active > ul > li.active>a,
.main-navigation-style > ul > li.active > ul > li.active > ul > li.active>a {
	font-weight: 700;
	color: #FFF;
}
.main-navigation-style ul li ul {
	display: block;
	width: 100%;
	padding-left: 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main-navigation-style ul li ul li a {
	text-transform: none;
}
.main-navigation-style ul li ul li ul a {
	display: block;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.secondary-nav {
	display: block;
}
.main-navigation-style ul li a.nav-expand {
	display: block !important;
	float: left;
	width: 18px;
	min-width: 0;
	padding-right: 10px;
}
.nav-expand i {
	font-size: 20px;
}
.nav li {
	clear: both;
}
.nav > li.hasChild > a {
	padding-right: 10px;
}
.main-navigation-style ul li.active a.active {
	color: #FFF;
}
.close-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	width: 20%;
	height: 100%;
}
#footer-menu ul li {
	display: none;
}
#login-area,
#login-area.opened {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	width: 100%;
	padding: 50px 20px 20px 20px;
	border-right: 0;
	border-bottom: 4px solid #FFF;
	border-left: 0;
	background: #FFF;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#login-area.opened {
	border-bottom: 4px solid #7DBB70;
}
a.close-login {
	font-size: 28px;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #B2B2B2;
}



/* =============================================================================================================
========================================================== | homepage | ======================================
============================================================================================================== */
.home-top-callouts .callout {
	font-size: 12px;
	float: none;
	width: 100%;
	margin-right: 0;
}
.individual-service {
	float: none;
	width: 100%;
	margin-right: 0;
}
.home-helpline-graphic {
	display: block;
	float: none;
	width: 300px;
	margin: 0 auto;
	padding: 20px 0;
}
.home-helpline h1 {
	padding-left: 0;
	text-align: center;
}
.home-helpline p {
	padding-bottom: 20px;
	padding-left: 0;
	text-align: center;
}
.home-helpline a.button {
	margin: 0 auto;
}
.home-services-area h1 {
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: center;
}
.home-services-area a.button {
	margin: 0 auto;
}
.home-middle-alt .callout {
	float: none;
	width: 100%;
	margin-right: 0;
	margin-bottom: 15px;
}
.home-calculator #calculator label {
	font-size: 11px;
	position: relative;
	top: 4px;
	width: 140px;
}
.home-calculator #calculator input {
	float: right;
}
.home-bottom-box {
	float: none;
	clear: both;
	width: 100%;
	text-align: left;
}
a.testimonial-text-link.arrow-cta {
	display: block;
	width: auto;
	margin: 0;
	text-align: left;
}
.footer-info {
	padding: 10px;
}
.home-feature {
	width: 100%;
	max-width: none;
	height: 410px;
	margin-bottom: 40px;
}
.quitcash-feature {
	position: relative;
	top: -10px;
	margin-bottom: 20px;
}
.home-bottom-slides {
	margin-bottom: 20px;
}
.general-slider {
	margin-bottom: 40px;
}
.featureSlide {
	position: absolute;
	display: none;
	overflow: hidden;
	width: 100%;
	height: 410px;
}
.home-feature-nav {
	position: absolute;
	z-index: 500;
	width: 100%;
	height: 410px;
}
.home-feature.slider-feature a.nav-arrow {
	line-height: 410px;
	height: 410px;
}
.additionalContent {
	top: 5%;
	left: 5%;
	z-index: 900;
	width: 90%;
	height: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.additionalContent-image {
	float: none;
	width: 100%;
	max-width: 283px;
	margin: 0 auto;
}
.additionalContent-image img {
	width: 100%;
}
.additionalContent-video {
	display: block;
	float: none;
	width: 100%;
	max-width: 999999px;
	height: 100%;
	max-height: 99999px;
	margin: 0;
	padding: 0;
}
.additionalContent-video iframe {
	width: 100%;
	height: 100%;
}
.additionalContent h1 {
	padding-top: 10px;
	text-align: center;
}
.additionalContent p {
	display: none;
}
.feature-static-image {
	width: 100%;
}
.feature-static-image.mobile.mobileStandard {
	display: block;
}
.feature-static-image.mobile.altImage {
	display: none;
}
.nav-circles {
	bottom: -25px;
}
.nav-circles a {
	width: 12px;
	height: 12px;
}


/* =============================================================================================================
========================================================== | Quizzes | ==========================================
============================================================================================================== */
.quiz-image {
	float: none;
	width: 330px;
	margin-right: 40px;

	dispay: block;
}

/* =============================================================================================================
========================================================== | cost of smoking | =================================
============================================================================================================== */
.cos-media {
	display: block;
	float: none;
	clear: both;
	max-width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}
#calculatorResults ul li p {
	font-size: 12px;
	padding: 0 15px;
}

/* =============================================================================================================
========================================================== | Contact | =================================
============================================================================================================== */
#contact,
#requestMaterials {
	margin-bottom: 20px;
}
.standardForm .commentsFieldArea textarea {
	width: 100%;
	max-width: 100%;
	height: 80px;
	min-height: 80px;
	padding: 3px 6px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* =============================================================================================================
========================================================== | misc | ==========================================
============================================================================================================== */
.site-map-area > ul > li.has-children {
	float: none;
	width: 100%;
	margin-right: 0;
}
.pageInfo {
	display: block;
	float: none;
	clear: both;
	margin-bottom: 10px;
}


/* =============================================================================================================
========================================================== | RESPONSIVE | ======================================
============================================================================================================== */
.desktop.tablet.mobile {
	display: block;
}
.desktop {
	display: none;
}
.tablet {
	display: none;
}
.mobile {
	display: block;
}
.desktop.tablet {
	display: none;
}
.desktop.mobile {
	display: block;
}
.tablet.mobile {
	display: block;
}