/* structure
----------------------------*/
span.message.error {
	display: none;
}
.containsError label {
	color: #E6491F;
}
html,
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 20px 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#grabber {
	display: none;
}
.main-navigation-style .menu-main {
	display: table;
	width: 100%;
}
.main-navigation-style .menu-main > li {
	display: table-cell;
	float: none;
}
.main-navigation-style ul li a .nav-expand {
	display: none;
}
.main-navigation-style ul li a {
	font-size: 12px;
	line-height: 32px;
	display: block;
	min-width: 3.5em;
	height: 32px;
	padding: 0;
	color: #444;
	background-color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}
.main-navigation-style ul li ul {
	display: none;
}

/* General
----------------------------*/
.content {
	padding-top: 0;
}
.quitcash-template .content {
	padding-top: 30px;
}
.socialgraph {
	top: 4px;
}
.callout a span.callout-text {
	font-size: 11px;
	padding-right: 10px;
}
.left-col {
	margin-top: 20px;
}
.masthead-area {
	position: relative;
	display: block;
	width: 100%;
	max-width: 700px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}
.masthead-area img {
	position: relative;
	display: block;
	max-width: 100%;
}
.main-col:first-child,
.main-content-area {
	overflow: visible;
}

.main-content-area {
	padding: 0;
}
.socialgraph.has-mast,
.socialgraph.has-slideshow {
	top: 10px;
	right: 10px;
}
.breadcrumbs {
	position: relative;
	margin-top: 0;
	padding: 10px 40px 10px 0;
}
.has-nav .breadcrumbs {
	left: 0;
	width: auto;
	margin-left: 240px;
}

/* Gallery
----------------------------*/
.active-image {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 700px;
	height: 450px;
	margin-bottom: 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.active-image img {
	max-width: 100%;
}

/* homepage
----------------------------*/
.callout a {
	min-height: 6.5em;
}
.home-top-left {
	float: none;
	width: 100%;
	margin-right: 0;
}
.home-feature {
	position: relative;
	width: 100%;
	max-width: 697px;
	height: 209px;
	margin: 20px auto 22px auto;
	margin-bottom: 22px;
}
.quitcash-feature {
	max-width: none;
}
.quitcash-feature {
	margin-top: 0;
}
.home-services-area {
	float: none;
	width: 100%;
	padding-right: 0;
	border-right: 0;
}
.home-middle-alt .callout {
	float: left;
	width: 32%;
	margin-right: 2%;
}
.nav-arrows {
	width: 100%;
}
.home-feature-nav {
	position: absolute;
	z-index: 500;
	height: 209px;
}
a.nav-arrow-next {
	right: 0;
	left: auto;
	padding: 0 5px 0 35px;
}
.additionalContent .button {
	position: relative;
	z-index: 999;
}
.home-top-content {
	padding: 0 20px;
}
.home-top-callouts {
	padding: 0 20px;
}
.home-top-callouts .callout {
	float: left;
	width: 32%;
	margin-right: 2%;
}
.home-top-callouts .callout.last {
	margin-right: 0;
}
.home-services,
.bottom-callout-area {
	width: 100%;
	padding: 0 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.individual-service {
	float: left;
	width: 45%;
	margin-right: 5%;
}
.home-helpline-graphic {
	display: block;
	float: left;
	padding: 20px 0;
}
.home-helpline p {
	padding-bottom: 20px;
	padding-left: 0;
	text-align: left;
}
.home-services-area {
	padding-bottom: 40px;
	border-bottom: 1px solid #C9C9C9;
}
.home-helpline {
	padding-top: 40px;
	border-top: 1px solid #ADADAD;
	border-left: 0;
}
.home-helpline h1 {
	padding-left: 25px;
	text-align: left;
}
.home-services-area h1 {
	padding-left: 20px;
	text-align: left;
}
.home-services-area a.button {
	margin: 20px 0 0 20px;
}
.helpline-content {
	overflow: hidden;
}
.helpline-content  a.button {
	margin: 0;
}
.home-top-content {
	text-align: left;
}
.home-top-content .summary p {
	text-align: left;
	-moz-text-align-last: left;
	text-align-last: left;
}
.home-calculator {
	float: none;
	width: 100%;
	padding: 0 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.home-calculator #calculator label {
	font-size: 13px;
	position: relative;
	top: 9px;
	width: 280px;
}
.home-calculator #calculator input {
	float: none;
}
.home-bottom-box {
	margin-right: 0;
	margin-bottom: 20px;
}
.testimonial-thumb {
	display: inline-block;
}
a.testimonial-text-link.arrow-cta {
	display: block;
	width: 273px;
	margin: 0 auto;
	text-align: left;
}
.home-news {
	float: none;
	clear: both;
	width: 100%;
}
.home-testimonials,
.home-social {
	width: 50%;
	text-align: center;
}
.home-bottom-slides {
	float: none;
	width: 100%;
	max-width: 700px;
	margin: 20px auto 0 auto;
}
.home-bottom-slides a.nav-arrow-next {
	right: 0;
	left: auto;
}

/*slider
------------------------------*/
.general-slider {
	position: relative;
	width: 100%;
	height: 240px;
	margin-bottom: 20px;
}
.general-slider .slide {
	width: 100%;
}
.general-slider .slide  img {
	max-width: 100%;
}

/* COST OF SMOKING
--------------------------------------------------*/
.cos-media {
	display: block;
	float: none;
	margin-right: 0;
	margin-bottom: 20px;
}


/* =============================================================================================================
========================================================== | Quizzes | ==========================================
============================================================================================================== */
.quiz-image {
	display: none;
	width: 300px;
	height: auto;
	margin-right: 40px;

	dispay: block;
}
.quiz-item {
	position: relative;
	display: none;
	clear: both;
	width: 100%;
	padding-top: 20px;
}
.scorecard-title {
	float: none;
	margin-right: 12px;
}
.quiz-options li a:hover {
	color: #444;
}

/* =============================================================================================================
========================================================== | Effects of Tobacco | ==============================
============================================================================================================== */
.effects-column {
	float: none;
}
.part-list {
	position: absolute;
	z-index: 700;
	width: 100%;
}
.body-area {
	position: relative;
	width: 262px;
	height: 721px;
	margin: 0 auto;
	opacity: .40;
}
.part-list ul {
	margin-top: 25px;
}
.part-list ul li {
	margin-bottom: 30px;
}
.part-list ul li a {
	cursor: pointer;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	padding: 7px 14px;
	color: #FFF;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #7DBB70;
	box-shadow: 0 0 12px 1px rgba(255,255,255,.6);
	white-space: nowrap;
	text-decoration: none;

	-khtml-border-radius: 3px;
}
.part-list ul li a:hover {
	color: #FFF;
	background-color: #2E5A24;
}
.effects-area {
	position: relative;
}
.description-area {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 750;
	z-index: 999 !important;
	width: 300px;
	margin-left: -150px;
}
.part-list ul {
	padding-left: 0;
}
.effects-box-arrows {
	display: none;
}
.inner-box {
	position: relative;
	z-index: 999;
	width: 100%;
	min-height: 20px;
	margin-left: 0;
	padding: 12px;
	border: 1px solid #D4D5D6;
	background-color: #EEECF4;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.effects-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 901;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
}
a.close-effects-box {
	font-size: 26px;
	position: absolute;
	right: 10px;
	margin-top: -5px;
	color: #30383F;
}
.aside-media-single {
	width: 40%;
}

/* FMA */
article .fileManagementArea:first-child {
	margin: 0 -5px 10px;
}



/* =============================================================================================================
========================================================== | RESPONSIVE | ======================================
============================================================================================================== */
.desktop.tablet.mobile {
	display: block;
}
.desktop {
	display: none;
}
.tablet {
	display: block;
}
.mobile {
	display: none;
}
.desktop.tablet {
	display: block;
}
.desktop.mobile {
	display: none;
}
.tablet.mobile {
	display: block;
}
